@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
header {
  background-color: powderblue;
  text-align: center;
  padding: 30px;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
}
.projects {
  flex-basis: 100px;
}
.current-project,
form label {
  font-weight: 600;
  margin-bottom: 4px;
}
#select-project {
  display: none;
}
.tasks {
  flex: 1 1 400px;
}
.task-entry {
  flex: 1 1 200px;
}
form {
  display: flex;
  flex-direction: column;
}
form input,
form select,
form button {
  margin-bottom: 15px;
  padding: 4px 10px;
  font-size: 1rem;
}
.task-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto 40px auto;
  background-color: aliceblue;
  border: 1px solid powderblue;
  margin-bottom: 8px;
}
.task-container > div {
  display: flex;
  align-items: center;
  padding: 4px 10px;
}
.task-container > div:not(:first-of-type) {
  justify-content: center;
}
.task-container > div:last-of-type {
  margin-left: 10px;
}
.task-container > div:first-of-type > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.task-container > .high {
  color: red;
}
.task-container > .low {
  color: gray;
}
.delete-btn {
  padding: 5px 10px;
}
