@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* base color is powderblue #B0E0E6 */
$light-powderblue: rgba(176, 224, 230, 0.15);
$dark-gray: #767676;
$light-gray: #efefef;
$red: #e99979;
$global-font: "Inter", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: $global-font;
  background-color: powderblue;
}
button {
  height: 35px;
  font-size: 1rem;
  font-family: $global-font;
}
form:not(#select-project) {
  display: flex;
  flex-direction: column;
}
form input,
form select,
form textarea {
  margin-bottom: 15px;
  padding: 4px 10px;
  font-size: 1rem;
  font-family: $global-font;
}
form label {
  font-weight: 600;
  margin-bottom: 8px;
}
main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.column1 {
  background-color: powderblue;
  text-align: center;
  padding: 30px;
  display: flex;
  .container {
    width: 200px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      svg {
        width: 70px;
      }
      .logo-text {
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
  }
}
.column2 {
  background-color: white;
  position: relative;
  height: 100%;
  .tasks {
    max-width: 600px;
    padding: 30px 10px;
    @media screen and (min-width: 600px) {
      padding: 30px;
    }
    .tasks-header {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
      grid-column-gap: 15px;
      grid-row-gap: 10px;
      margin-bottom: 15px;
      .hdr-col1 {
        .current-project {
          font-weight: 600;
        }
        #select-project {
          display: none;
          select {
            width: 100%;
          }
        }
        form select {
          margin-bottom: 0;
        }
      }
      .hdr-col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        a {
          color: black;
        }
        .list-actions {
          display: grid;
          grid-template-columns: auto auto;
          justify-content: start;
          grid-gap: 15px;
        }
        .add-task {
          justify-self: end;
          font-weight: 600;
        }
      }
    }
    .task-container {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr) auto auto;
      align-items: center;
      grid-gap: 10px;
      background-color: rgba(176, 224, 230, 0.15);
      border: 1px solid powderblue;
      padding: 6px;
      margin-bottom: 10px;
      border-radius: 2.5px;
      div {
        display: flex;
        align-items: center;
      }
      input.task-checkbox {
        width: 24px;
        height: 24px;
        order: -1;
      }
      .task-title {
        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &.complete {
          text-decoration: line-through;
        }
      }
      .task-due-date,
      .task-priority {
        font-size: 0.85rem;
      }
      .task-priority {
        background-color: white;
        border: 1px solid $dark-gray;
        border-radius: 2px;
        padding: 2px 0;
        box-shadow: none !important;
        &.high {
          background-color: $red;
        }
        &.low {
          background-color: powderblue;
        }
      }
      &.complete,
      &.complete > .task-priority {
        background-color: $light-gray;
        color: $dark-gray;
      }
      .more {
        grid-column: span 4;
        display: none;
      }
      .show-more {
        display: grid;
        grid-template-columns: 1fr auto;
        &::before {
          content: "Description:";
          grid-column: span 3;
        }
        .task-description {
          grid-column: span 3;
          margin-bottom: 15px;
        }
        .task-buttons {
          grid-column: span 3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
        }
      }
    }
  }
  .task-entry {
    display: none;
    &.overlay {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form#task-entry {
      max-width: 300px;
      background-color: white;
      padding: 30px;
      border-radius: 2.5px;
      position: relative;
      textarea#description {
        height: 100px;
        resize: vertical;
      }
      button {
        margin-top: 10px;
      }
    }
    form#task-entry .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}
