@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* base color is powderblue, hex #B0E0E6 */
$light-powderblue: rgba(176, 224, 230, 0.15);
$dark-gray: #767676;
$light-gray: #efefef;
$red: #e99979;
$global-font: "Inter", sans-serif;
$col1-width: 170;
$break-point: 750px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: $global-font;
  background-color: powderblue;
}
button {
  height: 35px;
  font-size: 1rem;
  font-family: $global-font;
  font-weight: 400;
  padding: 5px 10px;
  background-color: $light-gray;
  border: 1px solid $dark-gray;
  border-radius: 2.5px;
  color: black;
  cursor: pointer;
}
form:not(#select-project),
form > .details {
  display: flex;
  flex-direction: column;
}
form input,
form select,
form textarea,
form input[type="date"] {
  height: 38px;
  margin-bottom: 15px;
  padding: 4px 10px;
  font-size: 1rem;
  font-family: $global-font;
  color: black;
  border: 1px solid $dark-gray;
  border-radius: 2px;
  background-color: white;
}
form label {
  font-weight: 600;
  margin-bottom: 8px;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $break-point) {
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    column-gap: 25px;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: flex-start;
  // column-gap: 25px;
}
.column1 {
  min-width: $col1-width * 1px;
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media screen and (min-width: $break-point) {
    justify-content: flex-end;
    margin-top: 15px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 70px;
    }
    .logo-text {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
}
.column2 {
  flex-grow: 1;
  background-color: white;
  @media screen and (min-width: $break-point) {
    flex-grow: 0;
    width: auto;
  }
  .tasks {
    height: 100%;
    padding: 15px 6px;
    @media screen and (min-width: $break-point) {
      width: 3px * $col1-width + 15 + 60;
      padding: 30px;
    }
    .tasks-header {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(3px * $col1-width / 2, 1fr)
      );
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      margin-bottom: 15px;
      .hdr-col1 {
        #select-project {
          select {
            height: 35px;
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
      .hdr-col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        a {
          color: black;
        }
        .list-actions {
          display: grid;
          grid-template-columns: auto auto;
          justify-content: start;
          grid-gap: 15px;
        }
        .add-task {
          justify-self: end;
        }
      }
    }
    .task-container {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      // @media screen and (min-width: 800px) {
      //   grid-template-columns: auto minmax(0, 1fr) auto auto;
      // }
      align-items: center;
      grid-column-gap: 6px;
      background-color: rgba(176, 224, 230, 0.15);
      border: 1px solid powderblue;
      margin-bottom: 10px;
      border-radius: 2.5px;
      div {
        display: flex;
        align-items: center;
      }
      input.task-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid $dark-gray;
        order: -1;
        margin: 6px 0 6px 6px;
      }
      .task-name {
        overflow: hidden;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.complete {
          text-decoration: line-through;
        }
      }
      // .task-due-date {
      //   grid-column: span 2;
      //   @media screen and (min-width: 800px) {
      //     grid-column: span 1;
      //   }
      // }
      .task-due-date {
        font-size: 0.85rem;
        color: $dark-gray;
      }
      .task-priority {
        appearance: none;
        height: 100%;
        width: 20px;
        margin-right: 6px;
        background-color: powderblue;
        color: transparent;
        border: none;
        // border-left: 1px solid powderblue;
        // border-right: 1px solid powderblue;
        -moz-box-shadow: inset 0 0 2px powderblue;
        -webkit-box-shadow: inset 0 0 2px powderblue;
        box-shadow: inset 0 0 2px powderblue;

        &.high {
          background-color: $red;
          color: transparent;
        }
        &.low {
          background-color: white;
          color: transparent;
        }
      }
      &.complete {
        background-color: $light-gray;
        color: $dark-gray;
      }
      &.complete > .task-priority {
        background-color: rgba($dark-gray, 0.2);
        color: transparent;
      }
      .more {
        grid-column: span 4;
        display: none;
        padding: 6px;
        // @media screen and (min-width: 800px) {
        //   grid-column: span 4;
        // }
      }
      .show-more {
        display: block;
        .task-notes {
          display: grid;
          margin: 5px 0 0;
          padding-top: 10px;
          border-top: 1px dotted powderblue;
          &::before {
            content: "Notes:";
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
        .task-buttons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          margin-top: 15px;
        }
      }
    }
  }
  .task-entry,
  .project-entry {
    display: none;
    &.overlay {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      padding: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    form {
      width: 100%;
      background-color: white;
      padding: 30px;
      border-radius: 2.5px;
      position: relative;
      &#task-entry {
        input[type="date"] {
          display: block;
          -webkit-appearance: textfield;
          -moz-appearance: textfield;
        }
        textarea {
          height: 50px;
          resize: vertical;
        }
        button {
          margin-top: 10px;
        }
      }
      a.show-details {
        text-decoration: underline;
        text-align: right;
        margin-bottom: 15px;
        cursor: pointer;
      }
      .details {
        display: none;
      }
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  .project-entry {
    .container {
      display: none;
    }
    &.editing {
      display: grid;
      grid-gap: 30px;
      align-content: start;
      .container {
        display: grid;
        grid-gap: 30px;
        background-color: white;
        padding: 30px;
        a {
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
}
