@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* base color is powderblue, hex #B0E0E6 */
$light-powderblue: rgba(176, 224, 230, 0.3);
$dark-gray: #767676;
$light-gray: #efefef;
$overlay-color: rgba(
  $color: #000000,
  $alpha: 0.8,
);
$red: #e99979;
$yellow: #e6dd9a;
$global-font: "Inter", sans-serif;
$col1-width: 170;
$break-point: 750px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: $global-font;
  background-color: powderblue;
}
button {
  height: 35px;
  font-size: 1rem;
  font-family: $global-font;
  font-weight: 400;
  padding: 5px 10px;
  background-color: powderblue;
  border: none;
  border-radius: 2.5px;
  color: black;
  cursor: pointer;
}
form:not(#select-project),
form > .details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form input,
form select,
form textarea,
form input[type="date"] {
  height: 38px;
  margin-bottom: 15px;
  padding: 4px 10px;
  font-size: 1rem;
  font-family: $global-font;
  color: black;
  border: 1px solid powderblue;
  border-radius: 2px;
  background-color: white;
}
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 10 15.140625 L 7.359375 12.5 L 6.183594 13.675781 L 10 17.5 L 13.824219 13.675781 L 12.640625 12.5 M 10 4.859375 L 12.640625 7.5 L 13.816406 6.324219 L 10 2.5 L 6.175781 6.324219 L 7.359375 7.5 Z M 10 4.859375 '/%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat;
  background-position: center right 0;
}
form label {
  font-weight: 600;
  margin-bottom: 8px;
}
.close-btn {
  position: absolute;
  top: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: $break-point) {
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    column-gap: 25px;
    width: calc(1px * #{$col1-width} + 30px + 20px);
    margin: 0 auto;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: flex-start;
  // column-gap: 25px;
}
.column1 {
  min-width: $col1-width * 1px;
  background-color: powderblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  @media screen and (min-width: $break-point) {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0 0;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    svg {
      width: 2.5rem;
    }
    .logo-text {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
  .top-nav {
    .hamburger {
      display: flex;
      align-items: center;
      // &.open {
      //   display: none;
      // }
      svg {
        height: 35px;
        cursor: pointer;
      }
      @media screen and (min-width: $break-point) {
        position: relative;
        top: -47px;
        left: calc(3px * #{$col1-width} + 75px);
        z-index: 1;
      }
    }
    .list-actions {
      display: none;
      // width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 60px 30px 0 26px;
      background-color: $overlay-color;
      &.open {
        display: block;
        @media screen and (min-width: $break-point) {
          right: -280px;
          z-index: 1;
        }
      }
      li {
        color: white;
        list-style: none;
        display: grid;
        grid-template-columns: 28px auto;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;
      }
      .close-btn {
        color: white;
        left: 10px;
        svg {
          width: 28px;
        }
      }
    }
  }
}
.column2 {
  flex-grow: 1;
  background-color: white;
  @media screen and (min-width: $break-point) {
    flex-grow: 0;
    width: auto;
    position: relative;
  }
  .tasks {
    height: 100%;
    padding: 15px 0;
    @media screen and (min-width: $break-point) {
      width: 3px * $col1-width + 15 + 60;
      padding: 25px 30px 30px;
    }
    .tasks-header {
      margin-bottom: 15px;
      padding: 0 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      @media screen and (min-width: $break-point) {
        padding: 0;
        width: 485px;
      }
      .hdr-col1 {
        flex-grow: 1;
        #select-project {
          select {
            height: 35px;
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
      .hdr-col2 {
        button.add-task {
          justify-self: end;
          display: flex;
          align-items: center;
        }
      }
    }
    .task-container {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      grid-column-gap: 12px;
      background-color: $light-powderblue;
      margin-bottom: 2px;
      border-radius: 2.5px;
      padding: 0 6px;
      @media screen and (min-width: $break-point) {
        border: 1px solid powderblue;
      }
      &.expanded {
        margin: 12px 6px;
        border: 1px solid powderblue;
        background-color: white;
      }
      div {
        display: flex;
        align-items: center;
      }
      input.task-checkbox {
        width: 24px;
        height: 24px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: white;
        border: 1px solid powderblue;
        order: -1;
        padding: 0;
        margin: 15px 0 15px 6px;
        &:checked {
          border: none;
          background-color: powderblue;
          position: relative;
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z' /%3E%3C/svg%3E");
            position: absolute;
            top: -4px;
            left: -4px;
            width: 32px;
            color: black;
          }
        }
      }
      .task-name {
        overflow: hidden;
        > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          flex-direction: column;
        }
        &.complete {
          text-decoration: line-through;
        }
      }
      // .task-due-date {
      //   grid-column: span 2;
      //   @media screen and (min-width: 800px) {
      //     grid-column: span 1;
      //   }
      // }
      .task-due-date {
        font-size: 0.85rem;
        color: $dark-gray;
      }
      .task-priority {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 100%;
        width: 20px;
        margin-right: 6px;
        background-color: $yellow;
        color: transparent;
        border: none;
        border-radius: 0;
        // border-left: 1px solid powderblue;
        // border-right: 1px solid powderblue;
        // -moz-box-shadow: inset 0 0 2px powderblue;
        // -webkit-box-shadow: inset 0 0 2px powderblue;
        // box-shadow: inset 0 0 2px powderblue;
        option {
          background-color: white;
          color: black;
        }
        &.high {
          background-color: $red;
          color: transparent;
        }
        &.low {
          background-color: powderblue;
          color: transparent;
        }
      }
      &.complete {
        background-color: $light-gray;
        color: $dark-gray;
      }
      &.complete > .task-priority {
        background-color: rgba($dark-gray, 0.2);
        color: transparent;
      }
      .more {
        grid-column: span 3;
        display: none;
        // padding: 6px;
        // @media screen and (min-width: 800px) {
        //   grid-column: span 4;
        // }
      }
      .show-more {
        display: block;
        border-top: 1px dashed powderblue;
        margin: 0 6px 6px 6px;
        .task-notes {
          display: grid;
          // margin: 0 0 15px;
          // padding-top: 10px;
          margin-top: 10px;
          &::before {
            content: "Notes:";
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
        .task-buttons {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          gap: 20px;
          div {
            cursor: pointer;
          }
        }
      }
    }
  }
  .task-entry,
  .project-entry {
    display: none;
    &.overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $overlay-color;
      padding: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    form {
      width: 100%;
      background-color: white;
      padding: 30px;
      border-radius: 2.5px;
      position: relative;
      @media screen and (min-width: $break-point) {
        max-width: 300px;
      }
      &#task-entry {
        input[type="date"] {
          display: block;
          -webkit-appearance: textfield;
          -moz-appearance: textfield;
        }
        textarea {
          height: 50px;
          resize: vertical;
        }
        button {
          margin-top: 10px;
        }
      }
      a.show-details {
        text-decoration: underline;
        text-align: right;
        margin-bottom: 15px;
        cursor: pointer;
      }
      .details {
        display: none;
      }
      .close-btn {
        right: 10px;
      }
    }
  }
  .project-entry {
    .container {
      display: none;
    }
    &.editing {
      display: grid;
      grid-gap: 30px;
      justify-items: center;
      justify-content: stretch;
      align-content: start;
      .container {
        display: grid;
        grid-gap: 30px;
        background-color: white;
        padding: 30px;
        width: 100%;
        @media screen and (min-width: $break-point) {
          max-width: 300px;
        }
        a {
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
}
